<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>AuditableBlindCA - Preparation</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0-rc.1/katex.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/4.0.0-alpha.1/css/bootstrap-switch.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0-rc.1/katex.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0-rc.1/contrib/auto-render.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/4.0.0-alpha.1/js/bootstrap-switch.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./common.css">
</head>

<body>
  <nav class="nav nav-fill nav-tabs">
    <a class="nav-item nav-link active" href="">Preparation</a>
    <a class="nav-item nav-link" href="">Issuing</a>
    <a class="nav-item nav-link" href="">Verifying</a>
    <a class="nav-item nav-link" href="">Tracing</a>
  </nav>
  <div class="container-fluid" style="margin-top: 40px; border: 1px solid red;">
    <div class="row">
      <div class="col-md-3 col-lg-3 offset-md-2 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Issuer
            </h4>
            <div class="card-text">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$a=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$b=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$p=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$n=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$g=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$h=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-2" >
        <div class="text-center" style="margin-top: 100px;">
          <div class="switch" data-on="info" data-off="success">
              <input type="checkbox" data-on-text="Secp256k1" data-off-text="Secp192k1" checked  name="myswitch" />
          </div>          
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              User
            </h4>
            <div class="card-text">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$a=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$b=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$p=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$n=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$g=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$h=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-3 col-lg-3 offset-md-2 offset-md-2">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$x=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$y=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$Z=H_1(p,q,g,h,y)=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        Button
      </div>      
      <div class="col-md-3 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <p>
                Please click to generation user's public key and private key.
              </p>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$\lambda=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$\epsilon=g^\lambda=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$Z=H_1(p,q,g,h,y)=$</span>
                </div>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <hr>
    <br>

    <div class="row">      
      <div class="col-lg-8 offset-lg-2">
        <h3>
          3. Smart Contract Registration
        </h3>
        <p>
           Please do the following steps to deploy the privacy-preserving smart contract and register the parameters 
        </p>
        <p>
          <span class="badge badge-secondary">unactive</span> 3.1 You can click it to active the MetaMask enviroment
        </p>
        <div class="alert alert-success">
            Your MetaMask wallet is installed well and your address is 
        </div>

        <p>
          <span class="badge badge-secondary">unactive</span> 3.2 Please check the below certificate-tracer smart contract, we recommend you to use Remix to analysis and debug the code.
        </p>
        <pre class="pre-scrollable">
          pragma solidity ^0.4.18;
            contract AuditTracer {
            // The address of the account that created this ballot.
            address public tracerCreator;
            mapping (address => uint256) private CredentialTraceTimes;
            mapping (address => uint256) private CredentialTraceResults;
        </pre>


        <p>
          <span class="badge badge-secondary">unactive</span> 3.3 Please click here to compile and deploy the smart contract.
        </p>
        <div class="alert alert-success">
            3.3 content
        </div>

        <p>
          <span class="badge badge-secondary">unactive</span> 3.4 Please click here to register parameters to the privacy-preserving smart contract.
        </p>
        <div class="alert alert-success">
            3.4 content
        </div>

        <p>
          <span class="badge badge-secondary">unactive</span> 3.5 Please click here to get the tracer's public key.
        </p>
        <div class="alert alert-success">
            Congratulations!!!
        </div>
      </div>
    </div>
  </div>
  <script>
  renderMathInElement(document.body, {
    delimiters: [{
      left: "$$",
      right: "$$",
      display: true
    }, {
      left: "$",
      right: "$",
      display: false
    }]
  });
  </script>

  <script type="text/javascript">
  $(function(){
      $("input[name='myswitch']").bootstrapSwitch();
  });
  </script>
</body>

</html>